<% include partials/header.ejs%>

   <%if (title=="About"){ %>
   


<!-- Content -->
<!-- using flex box display to located object in the website -->
<section class="bg-light  text-center">
    <div class="container">
        <div class="d-inline-flex justify-content-start">
            
            <div>
                
              <div class="d-flex flex-column align-items-center"> 
                   <div class="h1">
                    About Me
                    </div>
                   <div>
                       <p>
                       I am a student of the Advanced Diploma in Software Engineering Technology,<br> while holding a Bachelor of Science degree in Mathematics. <br> With strong mathematical acumen, an aptitude for learning new technologies and experience with web development
                      </p>
                    </div>
<!-- usind anchor + button to download resume -->
                    <div >
                        
                            <a class="btn btn-primary btn-lg" href="../document/Resume.pdf" download >Resume</a>
                        
                    </div>
                </div>

            </div>

               <div>
                <img class="img-fluid img-thumbnail  " src="/images/20210919_175026_06-1.png" style="width:50% ;"  alt="">
               </div>
            
            
            
        </div>
        

        
    </div>

</section>






  <% }%>
  <% include partials/footer.ejs%>