<% include partials/header.ejs%>

   <%if (title=="Home"){ %>
   



<section class="bg-light text-dark p-5 text-center text-sm-start">
    <div class="container border border-dark">
        <div class="d-sm-flex align-item-center">
            <div >
                <h1>Welcome to my Personal <span class="text-warning" >Portfolio</span>   site</h1>  
                <p class="lead my-5">I've worked with and developed a variety of languages and technologies. </p>
                <button class="btn btn-primary btn-lg">Contact Me</button>
            </div>
            <img  class="img-fluid w-50" src="/images/alireza (1).png" alt="" srcset="" > 
            <div class="ms-2">
                <h1>Mission Statment</h1>
                <p class="lead">You can achieve whatever dream you have, but step by step and gradually.</p>
            </div>
        </div>
        
    </div>
    </section>






  <% }%>
  <% include partials/footer.ejs%>