<% include partials/header.ejs%>

   <%if (title=="Home"){ %>
   



<section class="bg-light text-dark p-5  text-sm-start">
    <div class="container border border-dark">
        <div class="d-sm-flex ">
            <div class="text-center align-item-center">
                <h1>Welcome to my Personal <span class="text-warning" >Portfolio</span>   site</h1>  
                <p class="lead my-5">I've worked with and developed a variety of languages and technologies. </p>
                <button class="btn btn-primary btn-lg  "> <a class="link-light" href="contact">Contact Me</a> </button>
            </div>
            <img  class="img-fluid w-50" src="/images/alireza (1).png" alt="" srcset="" > 
            <div class="ms-2 w-50">
                <h1 class="text-center">Mission Statment</h1>
                <p class="lead text-center">You can achieve whatever dream you have, but step by step and gradually.</p>
               
                <div class="container ">
                    <div class="row ">
                        <div class="col-6 col-md-4">
                          <img  src="/images/csharp-logo.png" style="width: 100px ;height: 100px;">

                        </div>
                        <div class="col-6 col-md-4" >
                            <img class="img-fluid m-0 p-0"  src="/images/javascript logo.png"style="width: 100px ;height: 100px;">
                         </div>   
                        <div class="col-6 col-md-4">
                            <img  class="img-fluid" src="images/HTML5_logo.png" style="width: 100px ;height: 100px;">
                        </div>
                        
                    </div>
                    <div class="row ">
                        <div class="col-6 col-md-4">
                          <img  src="images/Java_programming.png" style="width: 100px ;height: 100px;">

                        </div>
                        <div class="col-6 col-md-4" >
                            <img class="img-fluid m-0 p-0"  src="images/mongo.png"style="width: 100px ;height: 100px;">
                         </div>   
                        <div class="col-6 col-md-4">
                            <img  class="img-fluid" src="/images/node-js2.png" style="width: 100px ;height: 100px;">
                        </div>
                        
                    </div>
                     <div class="row ">
                        <div class="col-6 col-md-4">
                          <img  src="/images/express.png" style="width: 100px ;height: 100px;">

                        </div>
                        <div class="col-6 col-md-4" >
                            <img class="img-fluid m-0 p-0"  src="/images/Angular.png"style="width: 100px ;height: 100px;">
                         </div>   
                        <!-- <div class="col-6 col-md-4">
                            <img  class="img-fluid" src="images/HTML5_logo.png" style="width: 100px ;height: 100px;">
                        </div>
                         -->
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    </section>






  <% }%>
  <% include partials/footer.ejs%>