<% include partials/header.ejs%>

   <%if (title=="services"){ %>
   



<!-- Content -->
<div class="fluid-container ">
    <section>
        <div class="d-flex flex-column">
            <div>
                <div class="d-flex flex-column text-center ">
                    <div class="lead p-0">
                        <h1>MY Servises!!!</h1>
                    </div>
                    <div class="lead p-0">
                        <h3>I am a full stak  -MEAN- developer (very soon!!!)</h3>
                    </div>
                    <hr>
                    <div>
                        <h1 class="p-0"> Technologies  that I am currently providing to you:</h1>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="/images/mongo.png" alt="Mongo Db">
                                    <div class="card-body">
                                      <h5 class="card-title">Mongo DB</h5>
                                      <p class="card-text">MongoDB is a good choice  when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases</p>
                                      
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="/images/express.png" alt="Experess" style="height:180px ;" >
                                    <div class="card-body">
                                      <h5 class="card-title">Experess</h5>
                                      <p class="card-text"></p>I use of Express is to provide server-side logic for web and mobile applications, and as such it's used all over the place</p>
                                      
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card" style="width: 18rem; ">
                                    <img class="card-img-top" src="/images/Angular.png" alt="Angular" style="height:180px ;" >
                                    <div class="card-body">
                                      <h5 class="card-title">Angular</h5>
                                      <p class="card-text">I Use Angular for web apps for all kinds of environments in dynamic web apps, Where the content and some components are displayed according to the user</p>
                                      
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="/images/Node.png" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Node.js</h5>
                                      <p class="card-text">Node JS is a runtime environment for the JavaScript language similar to how you would use a Python interpreter to run Python code on your computer.</p>
                                      
                                    </div>
                                  </div>
                            </div>
                        </div>

                    </div>


</div >





  <% }%>
  <% include partials/footer.ejs%>